<!DOCTYPE html>
<html>
  <head>
    <title>Teste OM30</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-bg-dark">
    <div class="container-lg">

      <div class="card card-tall">
        <div class="card-body">
          <%= render 'menu' %>
          <%= render 'alert' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
